/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap"); */

@font-face {
  font-family: "cairo";
  src: url("./Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font {
  @font-face {
    font-family: "cairo";
    src: url("./Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

}

@font-face {
  font-family: "oswald";
  src: url("./Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.numbersFont {
  @font-face {
    font-family: "oswald";
    src: url("./Oswald-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  };
  color: #133f74;
  font-size: 3rem;
}


