/* .card {
  position: relative;
} */

.card:hover .title {
  visibility: visible;
}

.card:hover .icon {
  visibility: hidden;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
